  <div class="form-group">
      <div class="field">
        <%= form.label :quantity %>
        <%= form.text_field :quantity, class:"form-control", :required=>true %>
      </div>
      <div class="field" >
        <%= form.label :prd_name %>
        <%= form.select :product_id,options_for_select(Product.all.collect{|c| [c.prd_name,c.id]}), class: "form-control" %>
      </div> 
    </div>  